{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 0 -}}
{{- $dateFormat := site.Params.dateFormat -}}
{{- if not $dateFormat -}}{{- $dateFormat = "2006-01-02" -}}{{- end -}}
<main class="article">
  {{- range $paginator.Pages -}}
    {{- $relURL := replace .RelPermalink "#" "%23" -}}
    {{- $relURL = replace $relURL "." "%2e" -}}
  <article class="article article-container entry">
    <header class="article entry-header">
      <h1 class="article entry-title">
        <a href="{{- $relURL -}}" rel="bookmark">{{- .Title | safeHTML -}}</a>
      </h1>
      {{- if .Date -}}
        <p class="article entry-date date">{{- .Date.Format $dateFormat -}}</p>
      {{- end -}}
    </header>
    <section class="article entry-content">
      {{- if .Summary -}}
      <p class="note content">{{- .Summary | markdownify | safeHTML -}}
        {{- if .Truncated -}}
          <span class="mldr">&mldr;</span>
        {{- end -}}
      </p>
      {{- end -}}
    </section>
    <footer class="article entry-footer">
      {{- partial "note-labels.html" . -}}
    </footer>
  </article>
  {{- end -}}
</main>
{{- end -}}
