{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 0 -}}
{{- $dateFormat := site.Params.dateFormat -}}
{{- if not $dateFormat -}}{{- $dateFormat = "2006-01-02" -}}{{- end -}}
<main class="article">
  {{- range $paginator.Pages -}}
    {{- $relURL := replace .RelPermalink "#" "%23" -}}
    {{- $relURL = replace $relURL "." "%2e" -}}
  <article class="article article-container entry">
    <header class="article entry-header header">
      <a class="article entry-bookmark" href="{{- $relURL -}}" rel="bookmark">
        <h1 class="article entry-title">
          {{- .Title | markdownify | safeHTML -}}
        </h1>
        {{- with .Params.subtitle -}}
        <h2 class="article entry-subtitle subtitle">
          {{- . | markdownify | safeHTML -}}
        </h2>
        {{- end -}}
      </a>
      {{- $currentLang := .Site.Language.Lang -}}
      {{- if .IsTranslated -}}
      <ul class="article entry-translations translations">
        {{- range .AllTranslations -}}
          {{- if eq $currentLang .Lang -}}
          <li><span class="translation-current" title="{{- .Title -}}">{{- .Lang -}}</span></li>
          {{- else -}}
          <li><a class="translation" rel="alternate bookmark" hreflang="{{- .Lang -}}" href="{{- .RelPermalink -}}" title="{{- .Title -}}">{{- .Lang -}}</a></li>
          {{- end -}}
        {{- end -}}
      </ul>
      {{- end -}}
      {{- if .Date -}}
        {{- $date := .Date | time.Format $dateFormat -}}
        <p class="article entry-date date">{{- i18n "posted" -}} <time datetime="{{- .Date -}}" title="{{- .Date -}}">{{- $date -}}</time></p>
      {{- end -}}
    </header>
    <section class="article entry-content markdown-body">
      {{- if .Summary -}}
      <p class="note content">
        {{- .Summary | markdownify | safeHTML -}}
      </p>
      {{- if .Truncated -}}
      <p class="note continue-reading">
        <a href="{{- $relURL -}}" rel="bookmark">Continue reading <span class="mldr">&mldr;</span></a>
      </p>
      {{- end -}}
      {{- end -}}
    </section>
    <footer class="article entry-footer">
      {{- partial "author-contact.html" . -}}
      {{- partial "taxonomy-list.html" . -}}
    </footer>
  </article>
  {{- end -}}
</main>
{{- end -}}
