{{- $title := T .Title -}}
{{- if not $title -}}
{{- $title = .Title -}}
{{- end -}}

{{- $term := .Data.Plural -}}
{{- $singular := .Data.Singular -}}
<header class="article header">
  <h1 class="article title">{{- $title -}}</h1>
</header>
{{- if .Content -}}
<section class="markdown-body">
  {{- .Content -}}
</section>
{{- end -}}
<section class="pages article entry-content">
  <ul class="taxonomy-terms">
  {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies }}
    {{ if eq $term $taxonomy_term }}
      {{ with $.Site.GetPage (printf "/%s" $taxonomy_term) }}
        {{ range $key, $value := $taxonomy }}
          <li><a class="{{- $singular -}}" href="#{{- replace ($key | urlize) " " "-" -}}">{{ $key }} ({{- $value.Count -}})</a></li>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  </ul>
</section>
