{{- $term := .Data.Plural -}}
{{- $singular := .Data.Singular -}}
{{- $dateFormat := site.Params.dateFormat -}}
{{- if not $dateFormat -}}{{- $dateFormat = "2006-01-02" -}}{{- end -}}
{{- $title := .Title | urlize -}}
{{ range $taxonomy_term, $taxonomy := .Site.Taxonomies }}
  {{ if eq $term $taxonomy_term }}
    {{ with $.Site.GetPage (printf "/%s" $taxonomy_term) }}
      {{ range $key, $value := $taxonomy }}
        {{- $taxonomy := replace ($key | urlize) " " "-" -}}
        <section class="pages article entry-content">
          <header class="list-entry article header">
            <h2 class="taxonomy-title taxonomy-type-{{- $singular -}}" id="{{- $taxonomy -}}">
              {{- $key }}
              <a class="heading-anchor" href="#{{- $key | urlize -}}">¶</a>
              <a class="heading-return" href="#{{- $title -}}">&uparrow;</a>
            </h2>
          </header>
          <ul class="taxonomy-entries">
            {{ range $value.Pages }}
            <li>
              {{- with .Date -}}
                <time class="entry-date date" datetime="{{- . -}}" title="{{- . -}}">{{- .Format $dateFormat -}}</time>
              {{ end -}}
              <a href="{{- .Permalink -}}">{{- .LinkTitle -}}</a>
            </li>
            {{ end }}
          </ul>
        </section>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
