
/* Social */

.article.social-share a {
  color: #d8dde2;
}

.slogan,
.date,
.license,
.reading-time {
  color: #b9ccf9;
}

.title,
.site.name {
  color: #c7d5f6;
}

.note.content {
  color: #d8dde2;
}
.nav.item {
  color: #c7d5f6;
}

.nav.item:hover {
  background-color:#15181d;
}

.markdown-body {
  background-image: linear-gradient(90deg, rgba(250, 200, 200, .05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(250, 200, 200, .05) 3%, rgba(0, 0, 0, 0) 3%);
}

.pagination ul li a:hover:not(.active) {
  background-color: rgba(41, 151, 255, .5);
}

.taxonomy, .tag, .category, .contact {
  color: #c7d5f6;
}

#header {
  background-color: #21262d;
}

.note.list .item {
  background-color: #21262d;
  box-shadow: inset -1px 0 0 0 rgba(14, 17, 21, .6),
              inset 0 -1px 0 0 #0e1215, inset 1px 0 0 0 rgba(14, 17, 21, .6);
}

.note.list .item:hover {
  box-shadow: 0 2px 6px 0 #0e1215,
              inset -1px 0 0 0 rgba(14, 17, 21, .3), inset 0 -1px 0 0 #0e1215,
              inset 1px 0 0 0 rgba(14, 17, 21, .2);
}

.article.author .bio {
  color: #828997;
}

.article.license {
  background-color: #345;
  border-color: #456;
}

@media (max-width: 500px) {
  .note.list .item,
  .article-container {
    box-shadow: none;
  }
}
