:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;
}

/* Default color scheme: 'light' */
:root {
  --text-color: #24292e;
  --background-color: #f3f6f9;
  --scrollbar-color: rgba(0, 0, 0, 0.175) transparent;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.175);
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.35);
  --font-color: rgb(216, 221, 226);
  --font-color-disabled: #ccc;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, 'Microsoft YaHei', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji';
  --monospace-font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, "SF Mono", "Cascadia Code", "Source Code Pro", Menlo, Consolas, "Liberation Mono", monospace;
  --alert-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --icon-font-family: "fontello";
  --separator-top-color: 1px rgba(199,213,246,.25) solid;
  --separator-bottom-color: 1px rgb(230, 230, 230) solid;
  --taxonomy-color: rgb(36, 41, 46);
  --title-color: rgb(29,43,76);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #d8dde2;
    --background-color: #0d1117;
    --scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.25);
    --scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.5);
    --font-color: rgb(216, 221, 226);
    --font-color-disabled: #ccc;
    --taxonomy-color: rgb(199, 213, 246);
    --title-color: rgb(199, 213, 246);
  }
}

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-color)
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  height: 12px
}

*::-webkit-scrollbar-track-piece {
  background: transparent
}

*::-webkit-scrollbar-track {
  background: transparent /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);   /* color of the scroll thumb */
  background-clip: padding-box;
  border-radius: 6px;       /* roundness of the scroll thumb */
  border: 2px solid transparent  /* creates padding around scroll thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color)
}

html {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  display: block;
  color: var(--text-color);
  background-color: var(--background-color);

  word-break: normal;
  word-wrap: break-word;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;

  padding-top: constant(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);

  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .85em;
}

h6 {
  font-size: .7em;
}

blockquote,
q {
  quotes: none;
  margin: 0;
}

mark {
  background-color: rgba(12, 242, 143, .2);
}

mark {
  padding-left: .15em;
  padding-right: .15em;
  border-radius: 3px;
}

.heading-anchor, .heading-return {
  opacity: 0.2;
  margin-left: 0.1em;
  margin-right: 0.1em;
}
.heading-anchor:hover, .heading-return:hover {
  opacity: 1;
  text-decoration: none;
}
.heading-return {
  text-align: right;
}

code,
tt,
kbd,
samp {
  font-family: var(--monospace-font-family);
  font-weight: 400;
  font-size: 85%;
}

pre {
  display: block;
  text-align: left;
  font-size: 80%;
  line-height: 1.5em;
  margin: 0;
  padding: 16px;

  border-radius: 3px;
  background-color: #f6f8fa;

  -o-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;

  overflow: auto;
}

code,
kbd,
tt,
samp {
  color: #c33;
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: #f9f6f6;
  border-radius: 3px;
}

pre code,
pre kbd,
pre tt,
pre samp {
  display: inline;
  font-size: inherit;
  color: inherit;
  padding: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

table thead {
  color: #1d2b4c;
}

table tr:nth-child(even) {
  background-color: #f3f6fa;
}

a {
  color: #06c;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-decoration-skip: objects;
  -moz-text-decoration-skip: objects;
  text-decoration-skip: objects;
}

a:hover {
  text-decoration: underline;
}

del {
  opacity: 0.5;
}

abbr,
acronym {
  cursor: help;
}


.image-container,
.image-container .link,
.image-container .caption {
  display: block;
}

.image-container {
  text-align: center;
}

.image-container .title {
  display: inline-block;
  opacity: .6;
  font-size: .875em;
  text-align: initial;
  min-height: 22px;
  padding: 10px 5px;
}

#header {
  min-height: 64px;
  margin-bottom: 30px;

  background-color: #fff;
}

#content {
  display: block;
  margin: 0 auto;
  max-width: 1012px;
}

#footer {
  font-size: .75em;
  margin-top: 48px;
  margin-bottom: 30px;
}

.sr-only {
  display: none;
}
.article.social-share a {
  color: #24292e;
  text-decoration: none;
  font-size: 2rem;
  margin: 0.25rem
}
.article.social-share a:hover {
  opacity: 0.7;
  text-decoration: none;
}

.header.wrap {
  overflow: hidden;
}

.header.wrap,
.nav.wrap {
  margin-top: -5px;
}

.header.wrap>*,
.nav.wrap>* {
  margin-top: 5px;
}

.header.slogan {
  font-family: var(--font-family);
  margin-left: 1em;
  padding-left: 1em;
  font-size: 14px;
  display: inline-block;
  margin-top: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: 1em;
  border-left: var(--separator-top-color);
}
.site.home:hover {
  opacity: 0.5;
  text-decoration: none;
}

.site.logo {
  height: 42px;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 8px;
}

.site.name {
  color: rgba(29, 43, 76, .85);
}

.site.slogan {
  font-size: .875em;
  text-align: center;
}

.site.slogan .title {
  display: inline-block;
  text-align: initial;
  min-height: 22px;
}

.nav.item {
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(29, 43, 76);
}

.footer-wrap {
  display: block;
  text-align: center;
}

.date {
  font-size: .875em;
}

.langs {
  display: inline-block;
  list-style: none;
  font-size: .875em;
}

.lang {
  margin-left: 10px;
}

.note.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2.taxonomy-title {
  color: var(--taxonomy-color);
  display: inline-block;
}

h2.taxonomy-type-tag::before {
  font-family: var(--icon-font-family);
  content: "\f1ec";
  padding-right: 5px;
}

h2.taxonomy-type-category::before {
  font-family: var(--icon-font-family);
  content: "\f292";
  padding-right: 5px;
}

.note.list .item {
  width: 100%;
  margin-top: 16px;
  padding: 32px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: inset -1px 0 0 0 rgba(224, 227, 231, .6),
              inset 0 -1px 0 0 #e0e4e7, inset 1px 0 0 0 rgba(224, 227, 231, .6);
}

.note.list .item:hover {
  box-shadow: 0 2px 6px 0 #e0e4e7,
              inset -1px 0 0 0 rgba(224, 227, 231, .3), inset 0 -1px 0 0 #e0e4e7,
              inset 1px 0 0 0 rgba(224, 227, 231, .2);
}

.nav.item:hover {
  opacity: .7;
  text-decoration: none;
  background-color: #dcdee0;
}

.taxonomy:hover,
.contact:hover,
.tag:hover,
.category:hover {
  opacity: .5;
  text-decoration: none;
}

.title {
  color: rgba(29, 43, 76, .85);
}

.note {
  display: block;
  text-decoration: none;
}

.note:hover {
  text-decoration: none;
}

.note.title,
.site.name {
  font-size: 1.125em;
  font-weight: 600;
}

.mldr {
  opacity: .6;
}

.note.title,
.note.date,
.note.content,
.note.imgs,
.note.labels {
  margin: 0px 0;
}

.note.content {
  color: #24292e;
}

.note.imgs {
  display: block;
  border: 0px solid transparent;
}

.note.imgs .img {
  object-fit: cover;
  height: 80px;
  min-width: 80px;
  max-width: 120px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  margin: 5px 0 0 5px;
}

.cover {
  width: 100%;
}

.article.header {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: var(--separator-bottom-color);
}
.list-entry.article.header {
  padding-top: 2rem;
}
.article.title {
  margin-bottom: 0.5rem;
  display: inline-block;
  width: fit-content;
}
.article.entry-title {
  display: inline-block;
}
.article.subtitle {
  font-weight: lighter;
  margin-bottom: 0.5rem;
}
ul.taxonomy-entries {
  display: block;
}
ul.taxonomy-entries > li::before {
  content: none;
}
ul.taxonomy-entries > li {
  list-style: none;
}

.article.subscription {
  margin-top: 1rem;
}
#TableOfContents ul{
  margin-top: 0;
}

.article.entry-header, .article.header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: var(--separator-bottom-color);
}
.article.entry-footer {
  border-top: var(--separator-top-color);
  padding-top: 1.5em;
  margin-top: 0.5rem;
}
.article.entry {
  text-align: left;
}

h1.article.entry-title, h1.article.title {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
a h1.article.entry-title, a h1.article.title {
  color: rgba(29, 43, 76, .85);
  margin-bottom: 0.5rem;
}
a h2.article.entry-subtitle, a h2.article.subtitle {
  color: #24292e;
}
.article.entry-header.header a:hover {
  text-decoration: none;
  opacity: .7;
}
.social {
  margin: 0.5rem;
}
.social a {
  font-size: 1.5rem;
  background: #fff;
  padding: 0.25rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  color: #24292e;
  box-shadow: 0 12px 16px 0 rgba(29,43,76,.12);
  display: inline-block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  vertical-align: middle;
}
.social a:hover {
  background: #6ae;
  color: #fff;
}

.article.date {
  margin-top: 5px;
}

.tag,
.category {
  display: inline-block;
  margin: 5px 8px 5px 0;
}
.category {
  font-weight: bold;
}

.tag::before {
  font-family: var(--icon-font-family);
  content: "\f1ec";
  padding-right: 5px;
  /* opacity: .5; */
}
.category::before {
  font-family: var(--icon-font-family);
  content: "\f292";
  padding-right: 5px;
}

.tag, .category {
  color: var(--taxonomy-color);
}
a.article.entry-bookmark {
  display: inline-block;
  width: fit-content;
}
.article.entry-date.date {
  display: block;
}

ul.translations {
  float: right;
  width: fit-content;
}
ul.translations > li::marker {
  content: none;
}
ul.translations > li{
  list-style: none;
  display: inline-block;
}
ul.article-taxonomy > li::marker {
  display: none;
}
ul.article-taxonomy > li{
  list-style: none;
  display: inline-block;
}
ul.nav {
  display:inline-block;
}
ul.nav > li {
  list-style: none;
  display: inline-block;
}
ul.nav > li::marker {
  content: none;
}
@media (max-width : 740px) {
  ul.nav {
    display: block;
  }
  ul.nav > li {
    display: block;
  }
}
.header.title {
  display: block;
  width: fit-content;
  float: left;
  padding: 1rem;
}
.header.nav {
  display: block;
  float: right;
  width: fit-content;
}
@media (max-width : 740px) {
  .header.title {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
  }
  .header.nav {
    clear: both;
    width: 100%;
    text-align: center;
  }
  .nav > li {
    width: 100%;
  }
  .nav.item {
    display: block;
    width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}
.translation::before,
.translation-current::before {
  content: "[";
  padding-right: 2px;
}
.translation::after,
.translation-current::after {
  content: "]";
  padding-left: 2px;
}
.translation::before,
.translation::after,
.translation-current::before,
.translation-current::after {
  color: var(--font-color);
}
.translation-current {
  color: var(--font-color-disabled);
}

.article.date {
  display: inline;
  padding-right: 5px;
}
.article.translations {
  display: inline;
  font-size: 14px;
  font-family: var(--monospace-font-family);
}


.article.labels,
.article.license,
.article.author,
.article.navigation,
.article.discussion,
.article.share {
  margin-top: 32px;
}

.article.discussion {
  border-top: 1px dashed #e6e6e6;
  border-bottom: 1px dashed #e6e6e6;
}

.article.navigation p {
  margin: 0;
}

.article.navigation p+p {
  margin-top: 5px;
}

.article.navigation .link {
  font-weight: 600;
}

.article.bottom-navigation {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.article.bottom-navigation > .previous-and-next::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.article.bottom-navigation > .related-articles {
  text-align: center;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
  .article.bottom-navigation .previous-article {
    float: none !important;
    text-align:center !important;
  }
  .article.bottom-navigation .next-article {
    float: none !important;
    text-align:center !important;
  }
}

.related-articles > ol  {
  list-style: none;
}

.article.bottom-navigation .previous-article {
  float: left;
  text-align:left;
}

.article.bottom-navigation .next-article {
  float: right;
  text-align:right;
}


.article.license {
  background-color: #ecf4fb;
  border-radius: 4px;
  margin: 0.8em;
  padding: 0.925em 1.4em;
  border: 1px solid #b7d8ef;
}

.article.author {
  text-align: center;
}

.article.author>* {
  margin-top: 16px;
}

.article.author .avatar {
  display: block;
  max-width: 130px;
  margin: auto;
  border-radius: 3px;
}

.article.author .name {
  font-size: 1.25em;
}

.article.author .bio {
  color: #586069;
}

.article.author .details .item {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.article.author .details .item:hover {
  text-decoration: none;
  opacity: .5;
}

.slogan,
.date,
.license {
  color: rgba(23,81,153,.72);
}

.pagination {
  display: block;
  text-align: center;
  margin: 30px 0;
}

.pagination ul {
  display: inline-block;
  list-style: none;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.pagination ul li {
  display: inline;
}

.pagination ul li a {
  color: #06c;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination ul li a.active {
  background-color: #06c;
  color: #fff;
}

.pagination ul li a:hover:not(.active) {
  background-color: rgba(0, 102, 204, .5);
}

.article-container {
  padding: 32px;
  border-radius: 6px;
  box-shadow: 0 12px 16px 0 rgba(29, 43, 76, .12);
}

.article-container {
  background-color: #fff;
}
.article-container.entry {
  margin: 1.5rem 0;
}

.article.markdown-body {
  display: block;

  margin-top: 20px;
  margin-bottom: 20px;

  background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%);
  background-size: 20px 20px;
  background-position: center center;
}

.article.markdown-body h1,
.article.markdown-body h2,
.article.markdown-body h3,
.article.markdown-body h4,
.article.markdown-body h5,
.article.markdown-body h6 {
  color: #1d2b4c;
  margin-top: 24px;
  margin-bottom: 20px;
}

.article.markdown-body h1,
.article.markdown-body h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #e6e6e6;
}

.article.markdown-body img {
  border-radius: 3px;
}

.article.markdown-body blockquote,
.article.markdown-body q {
  color: #6a737d;
}

.article.markdown-body blockquote {
  padding: 0 1em;
  border-left: .25em solid #dfe2e5;
}

.article.markdown-body q::before,
.article.markdown-body q::after {
  opacity: .6;
}

.article.markdown-body q::before {
  /* ❝ */
  content: "\275D";
}

.article.markdown-body q::after {
  /* ❞ */
  content: "\275E";
}

.article.markdown-body ol,
.article.markdown-body ul {
  margin-bottom: 20px;
  margin-block-end: 20px;
  -webkit-margin-after: 20px;

  padding-inline-start: 40px;
  -webkit-padding-start: 40px;
  padding-left: 40px;
}

.article.markdown-body hr {
  opacity: .4;
  border-top-style: dashed;
  border-top-color: inherit;
}

.article.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

.article.markdown-body table tr {
  border: 0;
}

.article.markdown-body table th {
  font-weight: 600;
}

.article.markdown-body table td,
.article.markdown-body table th {
  min-width: 86px;
  padding: 6px 13px;
  border: 1px solid #e6e6e6;
}

.article.markdown-body table th:empty {
  padding: 0;
  border: 0;
}

.article.markdown-body .plstable th {
  max-width: 25%;
}

#TableOfContents ul {
  counter-reset: item;
  list-style-type: none;
  list-style-position: inside;
}

#TableOfContents ul li::before {
  counter-increment: item;
  content: counters(item, ".") ". ";
}

.article.markdown-body>*,
.article.markdown-body li>*,
.article.markdown-body blockquote>*,
.article.markdown-body .footnotes>* {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article.markdown-body> :first-child,
.article.markdown-body li> :first-child,
.article.markdown-body blockquote> :first-child {
  margin-top: 20px;
}

.article.markdown-body> :last-child,
.article.markdown-body li> :last-child,
.article.markdown-body blockquote> :last-child {
  margin-bottom: 0;
}

#header,
#foooter {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1012px) {
  .note.list .item,
  .article-container {
    padding: 24px;
    border-radius: 0;
    box-shadow: none;
  }

  .article.bottom {
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* mathjax & katex patch */

.article.markdown-body .katex-display {
  display: inline-block;
}

.article.markdown-body .katex,
.article.markdown-body .MathJax {
  margin: 0;
  padding: 0;
}

.article.markdown-body .katex-display,
.article.markdown-body .MathJax_Display {
  margin: 0;
  padding: .2em .4em;
}

.article.markdown-body .MathJax {
  outline: none;
}

/* chroma lntable patch */
.article.markdown-body .lntable {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}

.article.markdown-body .lntable .lntd .lnt {
  display: block;
  margin: 0;
  padding: 0;
}

.article.markdown-body .lntable .lntd {
  min-width: 0;
  padding: 0 5px;
  border: 0;
}

.article.markdown-body .lntable .lntd pre {
  overflow: visible;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  border: 0;
}

.article.markdown-body .lntable tr>:first-child {
  border-right: 1px dashed #e6e6e6;
}
.article.entry-footer {
  display: flex;
}
.article-footer.author {
  /* display: flex; */
  width: fit-content;
  /* flex: 1; */
}
.article-footer.article-labels {
  /* display: flex; */
  width: fit-content;
  /* flex: 4; */
}

.article.metadata {
  margin-top: 20px;
}
time.date {
  width: 10em;
  display: inline-block;
}

/* Only show one of the two */
@media only screen and (min-width : 320px) and (max-width : 768px) {
  .visible-on-wide-devices {
    visibility: none !important;
    display: none !important;
  }
  .visible-on-small-devices {
    visibility: visible !important;
    display: block !important;
  }
}
.visible-on-wide-devices {
  visibility: visible;
  display: block;
}
.visible-on-small-devices {
  visibility: none;
  display: none;
}

/* Alert Themes */

@media (prefers-color-scheme: light) {
  .alert {
    --alert-text-color: rgb(31, 35, 40);
    --alert-background-color: transparent;
  }
  .alert-note {
    --alert-border-color: #0969da;
    --alert-title-color: #0969da;
  }
  .alert-tip {
    --alert-border-color: #1f883d;
    --alert-title-color: #1a7f37;
  }
  .alert-warning {
    --alert-border-color: #9a6700;
    --alert-title-color: #9a6700;
  }
  .alert-important {
    --alert-border-color: #8250df;
    --alert-title-color: #8250df;
  }
  .alert-critical {
    --alert-border-color: #cf222e;
    --alert-title-color: #d1242f;
  }
  .alert-quote {
    --alert-border-color: rgb(95, 95, 95);
    --alert-title-color: rgb(90, 87, 87);
  }
}
@media (prefers-color-scheme: dark) {
  .alert-note {
    --alert-border-color: #1f6feb;
    --alert-title-color: #2f81f7;
  }
  .alert-tip {
    --alert-border-color: #238636;
    --alert-title-color: #3fb950;
  }
  .alert-warning {
    --alert-border-color: #9e6a03;
    --alert-title-color: #d29922;
  }
  .alert-important {
    --alert-border-color: #8957e5;
    --alert-title-color: #a371f7;
  }
  .alert-critical {
    --alert-border-color: #da3633;
    --alert-title-color: #f85149;
  }
  .alert-quote {
    --alert-border-color: rgb(95, 95, 95);
    --alert-title-color: rgb(155, 155, 155);
  }
  .alert {
    --alert-text-color: rgb(230, 237, 243);
    --alert-background-color: rgba(0, 0, 0, 0.2);
  }
}

.alert {
  background: var(--alert-background-color);
  border-left-color: var(--alert-border-color);
  border-left-style: solid;
  border-left-width: .25em;
  font-family: var(--alert-font-family);
  font-size: 14px;
  margin: 1rem 0;
  padding: .5rem 1rem;
  position: relative;
}
.alert > .iconfont {
  font-size: 16px;
}
.alert-title {
  box-sizing: border-box;
  color: var(--alert-title-color);
  display: flex;
  fill: var(--alert-title-color);
  font-weight: bold;
  line-height: 1;
  margin-top: 0;
}

.alert-message,
.alert-message > p,
.alert-message > b,
.alert-message > i,
.alert-message > strong,
.alert-message > em {
  color: var(--alert-text-color)
}
.alert-message p {
  margin-bottom: 16px;
}
.alert-message p:last-child {
  margin-bottom: 0 !important;
}
.alert-quote > blockquote.alert-message {
  border-left: 0;
  padding-left: 0;
  border-left: none;
}

.alert-icon {
  margin-right: 0.5rem;
}
.alert-header {
  display: flex;
  align-items: center;
  line-height: 1;
}
.alert-message {
  float: none;
  display: block;
  color: var(--alert-text-color);
  margin-top: 16px;
  line-height: 1.5;
}

ul.taxonomy-terms {
  column-count: 3;
}
@media (max-width : 320px) {
  ul.taxonomy-terms {
    column-count: 1;
  }
}
@media (min-width : 320px) and (max-width : 768px) {
  ul.taxonomy-terms {
    column-count: 2;
  }
}
ul.taxonomy-terms > li::marker {
  content: none;
}
ul.taxonomy-terms > li {
  list-style: none;
}
.embed-youtube {
  margin: auto;
}
.embed {
  width: 100%;
  display: flex;
}
@media (min-width : 768px) {
  .article-author-contact {
    float: none;
  }
}

.article-author-contact {
  display: block;
  float: left;
  padding-left: 1em;
}
.article-author-avatar {
  display: block;
  float: left;
}
ul.article-author-contact::marker {
  content: none;
}
ul.article-author-contact > li {
  display: inline-block;
  list-style: none;
}
ul.article-author-contact {
  display: inline-block;
}
ul.article-author-contact > li.contact-author-name {
  display: block;
}
.article-footer.article-author {
  margin-right: 1em;
  padding-right: -1em;
  display: inline-block;
  border-right: var(--separator-top-color);
}

.article-footer.article-author,
.article {
  width: 100%;
}
.author-email:before,
.author-github:before,
.author-reddit:before,
.author-linkedin:before,
.author-stackoverflow:before{
  display: block;
  font-family: var(--icon-font-family);
  padding-right: 5px;
}
.author-email:before {
  content: '\f2b6';
}
.author-github:before {
  content: '\f113';
}
.author-reddit:before {
  content: '\f281';
}
.author-linkedin:before {
  content: '\f30c';
}
.author-stackoverflow:before {
  content: '\f16c';
}
.contact {
  font-size: 20px;
}
