{{- if or .Params.categories .Params.tags -}}
  <aside class="article article-taxonomy">
    {{- with .Params.categories -}}
    <ul class="article article-taxonomy article-categories">
      {{- range . -}}
        {{- $category := replace . "#" "%23" -}}
        {{- $category = replace $category "." "%2e" -}}
        {{- $url := print "categories#" ($category | urlize) -}}
        <li><a class="category" href="{{- $url | relLangURL -}}">{{- . -}}</a></li>
      {{- end -}}
    </ul>
    {{- end -}}
    {{- with .Params.tags -}}
    <ul class="article article-taxonomy article-tags">
      {{- range . -}}
        {{- $tag := replace . "#" "%23" -}}
        {{- $tag = replace $tag "." "%2e" -}}
        {{- $url := print "tags#" ($tag | urlize) -}}
        <li><a class="tag" href="{{- $url | relLangURL -}}">{{- . -}}</a></li>
      {{- end -}}
    </ul>
    {{- end -}}
    {{- with .Params.languages -}}
    <ul class="article article-taxonomy article-languages">
      {{- range . -}}
        {{- $lang := replace . "#" "%23" -}}
        {{- $lang = replace $lang "." "%2e" -}}
        {{- $url := print "languages#" ($lang | urlize) -}}
        <li><a class="language" href="{{- $url | relLangURL -}}">{{- . -}}</a></li>
      {{- end -}}
    </ul>
    {{- end -}}
  </aside>
{{- end -}}
