{{- if and (not (eq .Params.single true)) (or .PrevInSection .NextInSection) -}}
<section class="article bottom-navigation">

  {{- if .Params.series -}}
  {{- $series := index .Params.series 0 -}}
  <section class="related-articles">
    <p><b>Other Posts in this Series</b></p>
    <ol>
    {{- $url := .Permalink -}}
    {{- range .Site.Pages.ByDate -}}
      {{- if in .Params.series $series -}}
        {{- if eq .Permalink $url }}
        <li><span class="iconfont icon-article"></span> {{- .Title -}}</li>
        {{- else -}}
        <li><a href="{{- .Permalink -}}"><span class="iconfont icon-article"></span> {{- .Title -}}</a></li>
        {{- end -}}
      {{- end -}}
    {{- end -}}
    </ol>
</section>
  {{- end -}}

  <section class="previous-and-next">
    {{- with .PrevInSection -}}
    <section class="previous-article">
      {{- $title := .Title | safeHTML -}}
      {{- if $title -}}
      <div class="visible-on-wide-devices">
        <p><strong>
          <a class="link" rel="prev" href="{{- .RelPermalink -}}" title="{{- .Title | safeHTML -}}"><span class="iconfont icon-previous"></span> Previous Post</a>
        </strong></p>
      </div>
      <div class="visible-on-small-devices">
        <p><strong>
          <a class="link" rel="prev" href="{{- .RelPermalink -}}" title="{{- .Title | safeHTML -}}">Previous Post</a>
        </strong></p>
      </div>
      {{- end -}}
    </section>
    {{- end -}}
    {{- with .NextInSection -}}
    <section class="next-article">
      {{- $title := .Title | safeHTML -}}
      {{- if $title -}}
      <div class="visible-on-wide-devices">
        <p><strong>
          <a class="link" rel="next" href="{{- .RelPermalink -}}" title="{{- .Title | safeHTML -}}">Next Post <span class="iconfont icon-next"></span></a>
        </strong></p>
      </div>
      <div class="visible-on-small-devices">
        <p><strong>
          <a class="link" rel="next" href="{{- .RelPermalink -}}" title="{{- .Title | safeHTML -}}"></a>Next Post</a>
        </strong></p>
      </div>
      {{- end -}}
    </section>
    {{- end -}}
  </section>
</section>
{{- end -}}
