<header class="article header">
  <h1 class="article title">{{- .Title | markdownify | safeHTML -}}</h1>
  {{- if .IsTranslated -}}
  <ul class="article translations">
    {{- range .AllTranslations -}}
      {{- if eq $.Site.LanguageCode .Lang -}}
      <li><span class="translation-current" title="{{- .Title -}}">{{- .Lang -}}</span></li>
      {{- else -}}
      <li><a class="translation" rel="alternate bookmark" hreflang="{{- .Lang -}}" href="{{- .RelPermalink -}}" title="{{- .Title -}}">{{- .Lang -}}</a></li>
      {{- end -}}
    {{- end -}}
  </ul>
  {{- end -}}
  {{- with .Params.subtitle -}}
  <h2 class="article subtitle">{{- . | markdownify | safeHTML -}}</h2>
  {{- end -}}
  {{- $dateFormat := .Site.Params.dateFormat -}}
  {{- if not $dateFormat -}}{{- $dateFormat = "2006-01-02" -}}{{- end -}}
  {{- $lastmodFormat := "" -}}
  {{- $lastmod := .Lastmod -}}
  {{- if $lastmod -}}
    {{- $lastmodFormat = $lastmod.Format $dateFormat -}}
  {{- end -}}
  {{- if .Date -}}
    {{- $dateFormat := .Date | time.Format $dateFormat -}}
    <p class="article date">{{- i18n "posted" -}}  <time class="published"  title="{{- .Date -}}" datetime="{{- .Date -}}">{{- $dateFormat -}}</time></p>
  {{- end -}}
  {{- partial "article/subscriptions.html" . -}}
  {{- partial "article/cover.html" . -}}
</header>
