<header class="article header">
    <h1 class="article title">{{- .Title | safeHTML -}}</h1>
    {{- $dateFormat := .Site.Params.dateFormat -}}
    {{- if not $dateFormat -}}{{- $dateFormat = "2006-01-02" -}}{{- end -}}
    {{- $lastmodFormat := "" -}}
    {{- $lastmod := .Lastmod -}}
    {{- if $lastmod -}}
        {{- $lastmodFormat = $lastmod.Format $dateFormat -}}
    {{- end -}}
    {{- if .Date -}}
        {{- $dateFormat := .Date.Format $dateFormat -}}
        <p class="article date">
            <time class="published"  title="{{- .Date -}}" datetime="{{- .Date -}}">{{- $dateFormat -}}</time>
            {{- if and ($lastmod.After .Date) (ne $lastmodFormat $dateFormat) -}}
            <time class="lastmod" title="{{- .Lastmod -}}" datetime="{{- .Lastmod -}}">{{- printf (T "edited") $lastmodFormat -}}</time>
            {{- end -}}
            {{- if .IsTranslated -}}
            <span class="langs">
                {{- range .Translations -}}
                <span class="lang"><a href="{{- .RelPermalink -}}">{{- .Lang -}}</a></span>
                {{- end -}}
            </span>
            {{- end -}}
        </p>
    {{- end -}}
</header>
