{{- if or .Params.categories .Params.tags .Params.languages -}}
<section class="article labels">
  {{- if .Params.categories -}}
  <section class="article-categories-section">
    <header class="article languages header" style="float:left;">
      <h4 style="display:none;">Categories</h4>
    </header>
    {{- range .Params.categories -}}
      {{- $category := replace . "#" "%23" -}}
      {{- $category = replace $category "." "%2e" -}}
      {{- $url := print "/categories/" ($category | urlize) "/" -}}
      <a class="category" href={{- $url | relLangURL -}}>{{- . -}}</a>
    {{- end -}}
  </section>
  {{- end -}}

  {{- if .Params.tags -}}
  <section class="article-tags-section">
    <header class="article languages header" style="float:left;">
      <h4 style="display:none;">Tags</h4>
    </header>
    <p>
      {{- range .Params.tags -}}
      {{- $tag := replace . "#" "%23" -}}
      {{- $tag = replace $tag "." "%2e" -}}
      {{- $url := print "/tags/" ($tag | urlize) "/" -}}
        <a class="tag" href={{- $url | relLangURL -}}>{{- . -}}</a>
      {{- end -}}
    </p>
  </section>
  {{- end -}}
</section>
{{- end -}}
