<section class="article social-share">
  <span class="sr-only">Share: </span>
  {{- $title := printf "%s" .Title | htmlEscape -}}
  {{- $url := printf "%s" .Permalink | absLangURL | htmlEscape -}}
  <!--- Share on Twitter -->
  <a href="https://twitter.com/intent/tweet?text={{- $title -}}&amp;url={{- $url -}}" class="btn btn-social-icon btn-twitter" title="Share on Twitter">
    <span class="iconfont icon-twitter" aria-hidden="true"></span>
    <span class="sr-only">Twitter</span>
  </a>
  <!--- Share on Facebook -->
  <a href="https://www.facebook.com/sharer/sharer.php?u={{- $url -}}" class="btn btn-social-icon btn-facebook" title="Share on Facebook">
    <span class="iconfont icon-facebook" aria-hidden="true"></span>
    <span class="sr-only">Facebook</span>
  </a>
  <!--- Share on LinkedIn -->
  <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{- $url -}}" class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
    <span class="iconfont icon-linkedin" aria-hidden="true"></span>
    <span class="sr-only">LinkedIn</span>
  </a>
  <!--- Share on Reddit -->
  <a href="https://www.reddit.com/submit?title={{- $title -}}&amp;url={{- $url -}}" class="btn btn-social-icon btn-linkedin" title="Share on Reddit">
    <span class="iconfont icon-reddit-alien" aria-hidden="true"></span>
    <span class="sr-only">Reddit</span>
  </a>
</section>
